@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
:root{
    --green:#27ae60;
    --dark-color:#219150;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);}
*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition:none;}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    border-radius: .5rem;
    color: #fff;
    background: var(--green);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}  
.btn:hover{
    background: var(--dark-color);
}
/*nav*/ 
.nav1{
    background: url(..//image/banner-bg.jpg);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    position: fixed;
    top: 0;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .288);
    z-index: 2;}
.menu-1{
    width: 30%;
    padding-left: 5px;
    display:flex;
    align-items: center;
}
.brand{
    height: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    border: none;
    text-align: center;
    text-decoration: none;
    overflow:visible;
    cursor: pointer;
    font-size: 1.5rem;
    color:#27ae60;
    font-weight: 700;
    font-size: 2.5rem;
}

/* menu-2 */
.menu-2{
width: 15%;

}
.menu-2-list{
    display: flex;
    height: 80%;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;}
/*Section*/ 
section{
  padding:5rem 9%;
}
.home{
    background: url(..//image/banner-bg.jpg);
    background-size: cover;
    background-position: center;
    margin-top:60px ;
}
.home .row{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.home .row .content {
    flex: 1 1 42rem;
}
.home .row .books-slider{
    flex: 1 1 42rem; 
    text-align: center;
    margin-top: 2rem;

}
.home .row .books-slider a img{
   height: 25rem;}
.home .row .content .books-slider a:hover img{
  transform: scale(.9);
}
.home .row .books-slider .stand{
   width: 100%;
   margin-top: -2rem;}
.home .row .content h2{
  color: var(--black);
  font-size: 4.5rem;
}
.home .row .content p{
  color: var(--light-color);
  font-size: 1.5rem;
  line-height: 2;
  padding: 1rem 0;
}

/* footer */
footer{
    background: url(../image/banner-bg.jpg);
    position: fixed;
    left: 0; bottom: 0;
    width: 100%;
    color: white;
    display: block;
    height: 45px;
    z-index:5;
 }
.footer-icon{
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  align-items: flex-end;
}
.fa-solid{
    color: #27ae60;
    font-size: 40px;
}

.icon{
    width: 5%;
    padding-left: 10px;
}
.border{
    width: 95%;
    border-bottom: 2px solid #444;
    height: 70%;
}
.border ul {
    width: 50%;
    display: flex;
    justify-content: space-between;
    list-style: none;

}
.border ul li a {
    font-size: 20px;
    color: #444;
    font-weight: 700;
}
/* Login */
.login{
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .9);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0; right: -105%;
    z-index: 10000;
}
.login.active{
    right:0;
}
form{
    background: rgba(255, 255, 255, .9);
    background: #fff;
    border: var(--border);
    width: 40rem;
    padding: 2rem;
    margin: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    max-width: 600px;}
.login form h1 {
    background: rgba(255, 255, 255, .9);
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
    text-align: center;
}
.login form span {
    background: rgba(255, 255, 255, .9);
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}
.login form .box{
    background: rgba(255, 255, 255, .9);
    width: 100%;
    margin: .7rem 0;
    font-size: 1.6rem;
    border: var(--border);
    border-radius: .5rem;
    padding: 1rem 1.2rem;
    color:var(--black);
    text-transform: none;
}
.login form .checkbox{
    background: rgba(255, 255, 255, .9);
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0;
}
.login form .checkbox label{
    background: rgba(255, 255, 255, .9);
    font-size: 1.5rem;
    color: var(--light-color);
    cursor: pointer;
}
.login form .btn{
    text-align: center;
    width: 100%;
    margin: 1.5rem 0 ;
}
.login form p{
    background: rgba(255, 255, 255, .9);
    padding-top: .8rem;
    color: var(--light-color);
    font-size: 1.5rem;
}
.login form p a{
    background: rgba(255, 255, 255, .9);
    color: var(--green);
    text-decoration: underline;
}
.login #close-login-btn {
    background: rgba(255, 255, 255, .9);
    position: absolute;
    top: 1.5rem; right: 2.5rem;
    font-size: 5rem;
    color: var(--black );
    cursor: pointer;
}
/* MEDIA */
@media (max-width:991px){
html{font-size: 55%;}
.header .header-1{padding:2rem;}
section{padding:3rem 2rem; }}
@media (max-width:768px){
html{scroll-padding-top: 0; }
body{padding-bottom: 6rem;}
.header .header-2{ display:none;}
.bottom-navbar{display: block; }
#search-btn{
display: inline-block;}
.header .header-1{
box-shadow: var(--box-shadow);
position: relative;}
.header .header-1 .search-form{
position:absolute;
top:-115%; right:2rem;
width: 90%;
box-shadow: var(--box-shadow);}
.header .header-1 .search-form.active{top:115%;}
.home .row .content{text-align: center;}
.home .row .content h3{
font-size: 3.5rem;}
.newsletter{
 background-position: right;}
.newsletter form{
margin-left:0;
max-width: 100%;  }
}
@media (max-width:450px){
 html{font-size: 50%;}
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;}
html::-webkit-scrollbar{ width:1rem;}
html::-webkit-scrollbar-track{background:transparent;}
html::-webkit-scrollbar-thumb{background:var(--black);}
body{
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    
}